[
			{
				"inputs": [],
				"stateMutability": "nonpayable",
				"type": "constructor"
			},
			{
				"inputs": [
					{
						"internalType": "address",
						"name": "_rewardsTokenAddy",
						"type": "address"
					},
					{
						"internalType": "address",
						"name": "_stakedTokenAddy",
						"type": "address"
					},
					{
						"internalType": "uint256",
						"name": "_supply",
						"type": "uint256"
					},
					{
						"internalType": "uint256",
						"name": "_perBlockAllocation",
						"type": "uint256"
					},
					{
						"internalType": "uint256",
						"name": "_lockedUntilDate",
						"type": "uint256"
					},
					{
						"internalType": "uint256",
						"name": "_timelockSeconds",
						"type": "uint256"
					}
				],
				"name": "createNewTokenContract",
				"outputs": [],
				"stateMutability": "nonpayable",
				"type": "function"
			},
			{
				"inputs": [],
				"name": "farmingContract",
				"outputs": [
					{
						"internalType": "address",
						"name": "",
						"type": "address"
					}
				],
				"stateMutability": "view",
				"type": "function"
			},
			{
				"inputs": [],
				"name": "getFarmingContract",
				"outputs": [
					{
						"internalType": "address",
						"name": "",
						"type": "address"
					}
				],
				"stateMutability": "view",
				"type": "function"
			},
			{
				"inputs": [
					{
						"internalType": "address",
						"name": "_faasTokenAddy",
						"type": "address"
					}
				],
				"name": "removeTokenContract",
				"outputs": [],
				"stateMutability": "nonpayable",
				"type": "function"
			},
			{
				"inputs": [],
				"name": "totalStakingContracts",
				"outputs": [
					{
						"internalType": "uint256",
						"name": "",
						"type": "uint256"
					}
				],
				"stateMutability": "view",
				"type": "function"
			}
		]